body{
	
}

main{
	min-height:450px;
	padding: 10px;
}

header{
	
}

footer{
	border: 1px solid green;
	margin-bottom: 20px;
}

nav{
	border: 5px solid black;
}

nav ul{
	list-style: none;
	padding: 5px;
}

#trump{
	background: url(http://static4.businessinsider.com/image/55918a4b6da811695ab77f22-480/rtx1gzco.jpg);
	height: 400px;
	background-repeat: repeat-x;
}
nav ul li{
	display: inline-block;
	width: 10%;
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: #4d4d4d;
}